<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Oct <strong class="text-upper">2014</strong> - Aug <strong>2016</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">电商网站及app开发 | 北京恩源科技有限公司</span>
                    <p>使用技术为.Net MVC5, html, css, js, Solr, Redis, MongoDB, HBase等等</p>
                    <p>主要工作：</p>
                    <p>1、源秘触屏版开发(http://m.yuan.cn/) </p>
                    <p>2、源秘APP开发(基于apicloud) </p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Aug <strong class="text-upper">2016</strong> - Jan <strong>2018</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">scrm系统及微信端开发 | 青岛汉拓信息技术有限公司</span>
                    <p>主要开发微信端前后端</p>
                    
                    <p>前端</p>
                    
                    <p>微信端采用vue+express+vuex + vux +webpack开发，</p>
                    
                    <p>pc端部分采用quasar-framework开发，</p>
                    
                    <p>后端Java   vert.x框架开发</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Mar <strong class="text-upper">2018</strong> - <strong>now</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">业务系统开发 | 青岛港国际物流有限公司</span>
                    <p>固定资产管理系统</p>
                    
                    <p>业务系统危险端移动支付</p>
                    
                    <p>轮胎管理系统</p>
                    
                    <p>业务数据导入导出+数据分析</p>
                    
                    <p>Spring Cloud框架搭建</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->